Pipelines/SUB_MyDSO_ContactTransfo.txt
{
    "name": "SUB_MyDSO_ContactTransfo",
    "properties": {
        "activities": [
            {
                "name": "CopyFile NoTransform",
                "type": "Copy",
                "dependsOn": [],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": false,
                            "wildcardFolderPath": "Working_Directory/IN_D365_Files",
                            "wildcardFileName": {
                                "value": "@pipeline().parameters.FileName",
                                "type": "Expression"
                            },
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "IN_DataLakeD365_2_MyDSO_CSV",
                        "type": "DatasetReference"
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "OUT_Datalake_Write_Temp",
                        "type": "DatasetReference",
                        "parameters": {
                            "folderPath": "Working_Directory/OUT_MyDSO__Temp_Files",
                            "fileName": {
                                "value": "@pipeline().parameters.FileName",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Save_NEW_File SFTPFolder",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "CopyFile NoTransform",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": false,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "SftpWriteSettings",
                            "operationTimeout": "01:00:00",
                            "useTempFileRename": true
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "Code client *",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Code client *\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Role",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Role\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Contact pour le recouvrement",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Contact pour le recouvrement\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Nom*",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Nom*\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Prenom",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Prenom\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Telephone",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Telephone\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "E-mail",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"E-mail\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Civilité",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Civilité\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Telephone portable",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Telephone portable\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Commentaires",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Commentaires\"",
                                    "physicalType": "String"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": false,
                            "treatBooleanAsNumber": false,
                            "culture": "fr-fr"
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "OUT_Datalake_Write_Temp",
                        "type": "DatasetReference",
                        "parameters": {
                            "folderPath": "Working_Directory/OUT_MyDSO__Temp_Files",
                            "fileName": {
                                "value": "@pipeline().parameters.FileName",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "OUT_Datalake_2_SFTP_Write_NEW",
                        "type": "DatasetReference",
                        "parameters": {
                            "SFTP_Environment": {
                                "value": "@pipeline().globalParameters.SFTP_Environment",
                                "type": "Expression"
                            },
                            "Filename": {
                                "value": "@pipeline().parameters.FileName",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Save_NEW_File ADLSFolder",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "CopyFile NoTransform",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "7.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "source": {
                        "type": "DelimitedTextSource",
                        "storeSettings": {
                            "type": "AzureBlobFSReadSettings",
                            "recursive": false,
                            "enablePartitionDiscovery": false
                        },
                        "formatSettings": {
                            "type": "DelimitedTextReadSettings"
                        }
                    },
                    "sink": {
                        "type": "DelimitedTextSink",
                        "storeSettings": {
                            "type": "AzureBlobFSWriteSettings"
                        },
                        "formatSettings": {
                            "type": "DelimitedTextWriteSettings",
                            "quoteAllText": true,
                            "fileExtension": ".csv"
                        }
                    },
                    "enableStaging": false,
                    "translator": {
                        "type": "TabularTranslator",
                        "mappings": [
                            {
                                "source": {
                                    "name": "Code client *",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Code client *\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Role",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Role\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Contact pour le recouvrement",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Contact pour le recouvrement\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Nom*",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Nom*\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Prenom",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Prenom\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Telephone",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Telephone\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "E-mail",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"E-mail\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Civilité",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Civilité\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Telephone portable",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Telephone portable\"",
                                    "physicalType": "String"
                                }
                            },
                            {
                                "source": {
                                    "name": "Commentaires",
                                    "type": "String",
                                    "physicalType": "String"
                                },
                                "sink": {
                                    "name": "\"Commentaires\"",
                                    "physicalType": "String"
                                }
                            }
                        ],
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": false,
                            "treatBooleanAsNumber": false,
                            "culture": "fr-fr"
                        }
                    }
                },
                "inputs": [
                    {
                        "referenceName": "OUT_Datalake_Write_Temp",
                        "type": "DatasetReference",
                        "parameters": {
                            "folderPath": "Working_Directory/OUT_MyDSO__Temp_Files",
                            "fileName": {
                                "value": "@pipeline().parameters.FileName",
                                "type": "Expression"
                            }
                        }
                    }
                ],
                "outputs": [
                    {
                        "referenceName": "OUT_Datalake_2_Datalake_Write_NEW",
                        "type": "DatasetReference",
                        "parameters": {
                            "folderPath": "Working_Directory/OUT_MyDSO_New_Files",
                            "fileName": {
                                "value": "@pipeline().parameters.FileName",
                                "type": "Expression"
                            }
                        }
                    }
                ]
            },
            {
                "name": "Error_Email NEW_To_SFTP",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Save_NEW_File SFTPFolder",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PIPE_Email_Alerts",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": false,
                    "parameters": {
                        "Filename": {
                            "value": "@pipeline().parameters.FileName",
                            "type": "Expression"
                        },
                        "Failed_Activity_Description": "Impossible de sauvegarder le fichier transformé sur le SFTP (Dossier 'New')",
                        "Error_Log": {
                            "value": "@activity('Save_NEW_File SFTPFolder').Error.Message",
                            "type": "Expression"
                        },
                        "Pipeline_Time": {
                            "value": "@pipeline().TriggerTime",
                            "type": "Expression"
                        },
                        "Recipients": {
                            "value": "@pipeline().globalParameters.LogicApp_MyDSONotifications_EmailRecipients",
                            "type": "Expression"
                        }
                    }
                }
            },
            {
                "name": "Send_Files To_MyDSO",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Save_NEW_File SFTPFolder",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    },
                    {
                        "activity": "Save_NEW_File ADLSFolder",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "PIPE_MyDSO_SendFilesToMyDSOSFTP",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": false,
                    "parameters": {
                        "FileName": {
                            "value": "@pipeline().parameters.FileName",
                            "type": "Expression"
                        },
                        "MyDSO_Account": {
                            "value": "@pipeline().parameters.MyDSO_Account",
                            "type": "Expression"
                        }
                    }
                }
            }
        ],
        "parameters": {
            "FileName": {
                "type": "string",
                "defaultValue": "contact_ggef_ESGCV LYON.csv"
            },
            "MyDSO_Account": {
                "type": "string",
                "defaultValue": "ESGCV LYON"
            }
        },
        "folder": {
            "name": "3_MyDSO_Files_Export/SUB_FilesTransformations"
        },
        "annotations": [],
        "lastPublishTime": "2023-01-10T14:29:40Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}